<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome Page</title>
    <link rel="stylesheet" href="welcomePage.css">
</head>
<body>
    <nav>
        <h1>Website Logo</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Feature</a></li>
            <li><a href="#">Contact</a></li> 
        </ul>
    </nav>
    <section class="hero">
        <h2>Wellcome to my Website</h2>
        <p>Here we learn HTML,CSS,React easily</p>
        <button>Get Started</button>
    </section>

    <section class="feature">
        <div class="card">
        <h3>fast</h3>
        <p>Our website is very fast</p>
        </div>

        <div class="card">
        <h3>responsive</h3>
        <p>Work on aall device</p>
        </div>

        <div class="card">
        <h3>Easy</h3>
        <p>Very easy to use</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2026 Shabareesh</p>
    </footer>
</body>
</html>